
body{
	margin:0;
	padding:0;
	background:#171941;
	font-family: 'Roboto', sans-serif;
	overflow-x:hidden;
}
.full{
	min-width:100vw;
	min-height:100vh;
}
.fitdiv{
	width:100%;
	height:100%;
}

/* ABOUT PAGE */
.aboutPage{
	background-image:linear-gradient( to top, #fff, #f6f6f6, #ededed);
	display:flex;
	color:#141414;
	padding:20px;
	min-width:100vw;
}
.descriptionPanel1{
	background:1d1e28;
	min-width:40%;
	text-align:center;
	margin:auto;
}
.descriptionPanel2{
	margin:auto;
}
@media only screen and (max-width:755px){
	.aboutPage{
		flex-direction:column;
	}
	.descriptionPanel1{
		width:100%;
	}
}

/* CONTACT US PAGE */

.contact_board{
	background:#171941;
	color:white;
	display:flex;
	justify-content:space-around;
	min-height:fit-content;
}